StreamInsightDemo.WpfApplication/Service References/WcfObservableService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StreamInsightDemo.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StreamInsightDemo.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InputEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lsl" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tp" type="xs:double" />
      <xs:element minOccurs="0" name="Usl" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputEvent" nillable="true" type="tns:InputEvent" />
</xs:schema>