StreamInsightDemo.WpfApplication/Service References/WcfObservableService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.ServiceModel.WcfObservable" elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.WcfObservable" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/StreamInsight/wcf/Source/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:8088/StreamInsight/wcf/Source/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StreamInsightDemo.Model" />
  <xs:element name="OnCompleted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="error" nillable="true" type="q1:Exception" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StreamInsightDemo.Model" minOccurs="0" name="value" nillable="true" type="q2:InputEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNextResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>